<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', { title: 'Survivor' }) %>
</head>

<body>
    <header>
        <h1>Rogue Survivor</h1>
        <ul>
            <li class="header-link">
                <a class="header-link href-a" href="/start">Start again</a>
            </li>
            <li class="header-link">
                <a class="header-link href-a" href="/main">World</a>
            </li>
        </ul>
    </header>
    <div class="wraper">
        <div id="grid2">
            <div class="abillitys">
                <h4>Strength</h4>
                <h2>Amount of - <%= roguecaracter.strength %> -</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus, numquam, velit a laudantium
                    maiores
                    ad dignissimos iste repellendus officia tempora quae doloremque recusandae quia, facilis harum!
                    Cupiditate,
                    libero nam.</p>
            </div>
            <div class="abillitys">
                <h4>Constitution</h4>
                <h2>Amount of - <%= roguecaracter.constitution %> -</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus, numquam, velit a laudantium
                    maiores
                    ad dignissimos iste repellendus officia tempora quae doloremque recusandae quia, facilis harum!
                    Cupiditate,
                    libero nam.</p>
            </div>
            <div class="abillitys">
                <h4>Dexterity</h4>
                <h2>Amount of - <%= roguecaracter.dexterity %> -</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus, numquam, velit a laudantium
                    maiores
                    ad dignissimos iste repellendus officia tempora quae doloremque recusandae quia, facilis harum!
                    Cupiditate,
                    libero nam.</p>
            </div>
            <div class="abillitys">
                <h4>Weapons Master</h4>
                <h2>Class - <%= roguecaracter.weaponsMaster %> -</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus, numquam, velit a laudantium
                    maiores
                    ad dignissimos iste repellendus officia tempora quae doloremque recusandae quia, facilis harum!
                    Cupiditate,
                    libero nam.</p>
            </div>
            <div class="abillitys">
                <h4>Melee</h4>
                <h2>Class - <%= roguecaracter.melee %> -</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus, numquam, velit a laudantium
                    maiores
                    ad dignissimos iste repellendus officia tempora quae doloremque recusandae quia, facilis harum!
                    Cupiditate,
                    libero nam.</p>
            </div>
            <div class="abillitys">
                <h4>Marksman</h4>
                <h2>Class - <%= roguecaracter.marksman %> -</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus, numquam, velit a laudantium
                    maiores
                    ad dignissimos iste repellendus officia tempora quae doloremque recusandae quia, facilis harum!
                    Cupiditate,
                    libero nam.</p>
            </div>
            <div class="abillitys">
                <h4>Athletics</h4>
                <h2>Class - <%= roguecaracter.athletics %> -</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus, numquam, velit a laudantium
                    maiores
                    ad dignissimos iste repellendus officia tempora quae doloremque recusandae quia, facilis harum!
                    Cupiditate,
                    libero nam.</p>
            </div>
            <div class="abillitys">
                <h4>Defense</h4>
                <h2>Class - <%= roguecaracter.defense %> -</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi possimus, numquam, velit a laudantium
                    maiores
                    ad dignissimos iste repellendus officia tempora quae doloremque recusandae quia, facilis harum!
                    Cupiditate,
                    libero nam.</p>
            </div>

        </div>
    </div>
</body>

</html>